<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-5">

    <ul class="last-login m-t-lg">
        <li class="">
            IP Address <span th:text="${#httpServletRequest.getRemoteAddr()}"></span>
            Last Login at :
            <span th:text="${#dates.format(session.lastLoginDate, 'dd/MM/yyyy hh:mm a')}"></span>


        </li>
    </ul>
    <ul class="last-login m-t-xs">
        <li class="">
            No Of Active User : <span th:text="${session.ActiveUser}"></span>
        </li>
    </ul>

</div>
</html>