<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar-default navbar-static-side " role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="../resources/img/profile_small.jpg"/>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Admin @ <span
                                th:switch="${adminModule== 'adminModule' || masterModule== 'masterModule' || #httpServletRequest.requestURI=='/home'}? ${true} : ${false}">
            <span th:case="${false}"><span th:text="${session.selectedBranch}"></span></span>
            <span th:case="${true}"><span th:text="${session.adminBranch}"></span></span>
            </span></span>
                        <span class="text-muted text-xs block">Mastro Metals <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">

                        <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    Mastro Metals
                </div>
            </li>
            <li><a th:href="@{/home}"><i class="fa fa-th-large"></i> <span class="nav-label">Quick Links</span></a>
            </li>
            <li class="active" th:if="${adminModule== 'adminModule'}">
                <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Admin</span> <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li th:if="${rolesTab== 'roles'}" class="active"><a th:href="@{/admin/getRole}">Role</a></li>
                    <li th:unless="${rolesTab== 'roles'}"><a th:href="@{/admin/getRole}">Role</a></li>
                    <li th:if="${branchTab== 'branch'}" class="active"><a th:href="@{/admin/getBranch}">Branch</a></li>
                    <li th:unless="${branchTab== 'branch'}"><a th:href="@{/admin/getBranch}">Branch</a></li>
                    <li th:if="${userTab== 'user'}" class="active"><a th:href="@{/admin/addUser}">User</a></li>
                    <li th:unless="${userTab== 'user'}"><a th:href="@{/admin/addUser}">User</a></li>
                    <li th:if="${roleAccessTab== 'roleAccess'}" class="active"><a th:href="@{/admin/getRoleAccess}">Role
                        Access Rights</a></li>
                    <li th:unless="${roleAccessTab== 'roleAccess'}"><a th:href="@{/admin/getRoleAccess}">Role Access
                        Rights</a></li>
                </ul>
            </li>

            <li class="" th:unless="${adminModule== 'adminModule'}">
                <a href="#"><i class="fa  fa-user"></i> <span class="nav-label">Admin</span> <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li th:if="${rolesTab== 'roles'}" class="active"><a th:href="@{/admin/getRole}">Role</a></li>
                    <li th:unless="${rolesTab== 'roles'}"><a th:href="@{/admin/getRole}">Role</a></li>
                    <li th:if="${branchTab== 'branch'}" class="active"><a th:href="@{/admin/getBranch}">Branch</a></li>
                    <li th:unless="${branchTab== 'branch'}"><a th:href="@{/admin/getBranch}">Branch</a></li>

                    <li th:if="${userTab== 'user'}" class="active"><a th:href="@{/admin/addUser}">User</a></li>
                    <li th:unless="${userTab== 'user'}"><a th:href="@{/admin/addUser}">User</a></li>
                    <li th:if="${roleAccessTab== 'roleAccess'}" class="active"><a th:href="@{/admin/getRoleAccess}">Role
                        Access Rights</a></li>
                    <li th:unless="${roleAccessTab== 'roleAccess'}"><a th:href="@{/admin/getRoleAccess}">Role Access
                        Rights</a></li>
                </ul>
            </li>


            <li class="active" th:if="${masterModule== 'masterModule'}">
                <a href="#"><i class="fa fa-barcode"></i> <span class="nav-label">Master</span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li th:if="${hsnTab== 'hsn'}" class="active"><a th:href="@{/master/getHSN}">HSN</a></li>
                    <li th:unless="${hsnTab== 'hsn'}"><a th:href="@{/master/getHSN}">HSN</a></li>
                    <li th:if="${catalogTab== 'catalog'}" class="active"><a th:href="@{/master/getCatalog}">Category</a>
                    </li>
                    <li th:unless="${catalogTab== 'catalog'}"><a th:href="@{/master/getCatalog}">Category</a></li>
                    <li th:if="${brandTab== 'brand'}" class="active"><a th:href="@{/master/getBrand}">Brand</a></li>
                    <li th:unless="${brandTab== 'brand'}"><a th:href="@{/master/getBrand}">Brand</a></li>
                    <li th:if="${productTab== 'product'}" class="active"><a th:href="@{/master/getProduct}">Product</a>
                    </li>
                    <li th:unless="${productTab== 'product'}"><a th:href="@{/master/getProduct}">Product</a></li>
                    <li th:if="${priceListTab== 'priceList'}" class="active"><a th:href="@{/master/getPriceListMaster}">
                        Price list </a></li>
                    <li th:unless="${priceListTab== 'priceList'}"><a th:href="@{/master/getPriceListMaster}">
                        Price list </a></li>
                    <li th:if="${partyTab == 'party'}" class="active"><a th:href="@{/master/getPartys}">Party</a></li>
                    <li th:unless="${partyTab == 'party'}"><a th:href="@{/master/getPartys}">Party</a></li>
                    <li th:if="${itemPartyTab == 'itemParty'}" class="active"><a href="#"
                                                                                 th:href="@{/master/getItemPartys}">Item
                        Party Rate Relation</a></li>
                    <li th:unless="${itemPartyTab == 'itemParty'}"><a href="#" th:href="@{/master/getItemPartys}">Item
                        Party Rate Relation</a></li>
                    <li th:if="${assetTab== 'asset'}" class="active"><a th:href="@{/master/getAssetList}">Assets</a>
                    </li>
                    <li th:unless="${assetTab== 'asset'}"><a th:href="@{/master/getAssetList}">Assets</a></li>


                </ul>
            </li>


            <li class="" th:unless="${masterModule== 'masterModule'}">
                <a href="#"><i class="fa fa-barcode"></i> <span class="nav-label">Master</span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li th:if="${hsnTab== 'hsn'}" class="active"><a th:href="@{/master/getHSN}">HSN</a></li>
                    <li th:unless="${hsnTab== 'hsn'}"><a th:href="@{/master/getHSN}">HSN</a></li>
                    <li th:if="${catalogTab== 'catalog'}" class="active"><a th:href="@{/master/getCatalog}">Category</a>
                    </li>
                    <li th:unless="${catalogTab== 'catalog'}"><a th:href="@{/master/getCatalog}">Category</a></li>
                    <li th:if="${brandTab== 'brand'}" class="active"><a th:href="@{/master/getBrand}">Brand</a></li>
                    <li th:unless="${brandTab== 'brand'}"><a th:href="@{/master/getBrand}">Brand</a></li>
                    <li th:if="${productTab== 'product'}" class="active"><a th:href="@{/master/getProduct}">Product</a>
                    </li>
                    <li th:unless="${productTab== 'product'}"><a th:href="@{/master/getProduct}">Product</a></li>
                    <li th:if="${priceListTab== 'priceList'}" class="active"><a th:href="@{/master/getPriceListMaster}">
                        Price list </a></li>
                    <li th:unless="${priceListTab== 'priceList'}"><a th:href="@{/master/getPriceListMaster}">
                        Price list </a></li>
                    <li th:if="${partyTab == 'party'}" class="active"><a th:href="@{/master/getPartys}">Party</a></li>
                    <li th:unless="${partyTab == 'party'}"><a th:href="@{/master/getPartys}">Party</a></li>
                    <li th:if="${itemPartyTab == 'itemParty'}" class="active"><a href="#"
                                                                                 th:href="@{/master/getItemPartys}">Item
                        Party Rate Relation</a></li>
                    <li th:unless="${itemPartyTab == 'itemParty'}"><a href="#" th:href="@{/master/getItemPartys}">Item
                        Party Rate Relation</a></li>
                    <li th:if="${assetTab== 'asset'}" class="active"><a th:href="@{/master/getAssetList}">Assets</a>
                    </li>
                    <li th:unless="${assetTab== 'asset'}"><a th:href="@{/master/getAssetList}">Assets</a></li>
                </ul>
            </li>

            </li>

            <li class="active" th:if="${inventoryModule== 'inventoryModule'}">
                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Inventory </span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li th:if="${stockTab== 'stock'}" class="active"><a th:href="@{/inventory/getStock}">Stock
                        Details</a></li>
                    <li th:unless="${stockTab== 'stock'}"><a th:href="@{/inventory/getStock}">Stock Details</a></li>
                    <li><a href="#">Stock Transfer</a></li>
                    <li th:if="${indentTab=='indent'}" class="active"><a href="#" th:href="@{/inventory/getIndentList}">Indent</a>
                    </li>
                    <li th:unless="${indentTab== 'indent'}"><a href="#" th:href="@{/inventory/getIndentList}">Indent</a>
                    </li>
                    <li><a href="#">Gate Pass</a></li>
                    <li><a href="#">DC /Sales Slip</a></li>
                    <li><a href="#">GRN</a></li>
                </ul>
            </li>
            <li th:unless="${inventoryModule=='inventoryModule'}" class="">
                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Inventory </span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li th:if="${stockTab== 'stock'}" class="active"><a th:href="@{/inventory/getStock}">Stock
                        Details</a></li>
                    <li th:unless="${stockTab== 'stock'}"><a th:href="@{/inventory/getStock}">Stock Details</a></li>
                    <li><a href="#">Stock Transfer</a></li>
                    <li th:if="${indentTab== 'indent'}" class="active"><a href="#"
                                                                          th:href="@{/inventory/getIndentList}">Indent</a>
                    </li>
                    <li th:unless="${indentTab== 'indent'}"><a href="#" th:href="@{/inventory/getIndentList}">Indent</a>
                    </li>
                    <li><a href="#">Gate Pass</a></li>
                    <li><a href="#">DC /Sales Slip</a></li>
                    <li><a href="#">GRN</a></li>
                </ul>
            </li>
            <li class="active" th:if="${purchaseModule== 'purchaseModule'}">
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Purchase </span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="active" th:if="${purchaseTab== 'purchase'}"><a href="#"
                                                                              th:href="@{/purchase/getPurchaseOrderList}">Purchase
                        Order</a></li>
                    <li class="" th:unless="${purchaseTab== 'purchase'}"><a href="#"
                                                                            th:href="@{/purchase/getPurchaseOrderList}">Purchase
                        Order</a></li>
                </ul>
            </li>
            <li class="" th:unless="${purchaseModule== 'purchaseModule'}">
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Purchase </span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="active" th:if="${purchaseTab== 'purchase'}"><a href="#"
                                                                              th:href="@{/purchase/getPurchaseOrderList}">Purchase
                        Order</a></li>
                    <li class="" th:unless="${purchaseTab== 'purchase'}"><a href="#"
                                                                            th:href="@{/purchase/getPurchaseOrderList}">Purchase
                        Order</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-money"></i> <span class="nav-label">Sales</span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">Sales Order</a></li>
                    <li><a href="#">Invoice</a></li>
                </ul>
            </li>
            <li class="active" th:if="${hrModule== 'hrModule'}">
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">HR </span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li th:if="${departmentTab== 'department'}" class="active"><a th:href="@{/hr/getDepartment}">Department</a>
                    </li>
                    <li th:unless="${departmentTab== 'department'}"><a th:href="@{/hr/getDepartment}">Department</a>
                    </li>
                    <li th:if="${salaryComponentTab== 'salaryComponent'}" class="active"><a
                            th:href="@{/hr/getSalaryComponent}">Salary Components</a></li>
                    <li th:unless="${salaryComponentTab== 'salaryComponent'}"><a th:href="@{/hr/getSalaryComponent}">Salary
                        Components</a></li>
                    <li><a href="#">Salary Templates</a></li>
                    <li><a href="#">Employees</a></li>
                    <li><a href="#">Attendance</a></li>
                    <li><a href="#">Pay Runs</a></li>
                </ul>
            </li>
            <li class="" th:unless="${hrModule== 'hrModule'}">
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">HR </span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li th:if="${departmentTab== 'department'}" class="active"><a th:href="@{/hr/getDepartment}">Department</a>
                    </li>
                    <li th:unless="${departmentTab== 'department'}"><a th:href="@{/hr/getDepartment}">Department</a>
                    </li>
                    <li th:if="${salaryComponentTab== 'salaryComponent'}" class="active"><a
                            th:href="@{/hr/getSalaryComponent}">Salary Components</a></li>
                    <li th:unless="${salaryComponentTab== 'salaryComponent'}"><a th:href="@{/hr/getSalaryComponent}">Salary
                        Components</a></li>
                    <li><a href="#">Salary Templates</a></li>
                    <li><a href="#">Employees</a></li>
                    <li><a href="#">Attendance</a></li>
                    <li><a href="#">Pay Runs</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-file"></i> <span class="nav-label">Reports </span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">Itemwise Stock Ledger</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>
</html>