<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mastro Metals | Add Delivery Challan</title>

    <link href="../resources/css/bootstrap.min.css" rel="stylesheet" th:src="@{/resources/css/bootstrap.min.css}">
    <link href="../resources/font-awesome/css/font-awesome.css" rel="stylesheet" th:src="@{/resources/font-awesome/css/font-awesome.css}">
    <link href="../resources/css/plugins/dataTables/datatables.min.css" rel="stylesheet" th:src="@{/resources/css/plugins/dataTables/datatables.min.css}">
      <!-- Sweet Alert -->
  <link href="../resources/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" th:src="@{/resources/css/plugins/sweetalert/sweetalert.css}">
    <!-- Morris -->
    <link href="../resources/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" th:src="@{/resources/css/plugins/morris/morris-0.4.3.min.css}">
    <link href="../resources/css/animate.css" rel="stylesheet" th:src="@{/resources/css/animate.css}">
    <link href="../resources/css/style.css" rel="stylesheet" th:src="@{/resources/css/style.css}">
    <link href="../resources/css/mastro-style.css" rel="stylesheet" th:src="@{/resources/css/mastro-style.css}">
</head>

<body >
    <div id="wrapper">
        <nav lang="en" th:replace="views/fragments/sidepanel :: nav"></nav>
    
            <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom ">
                <nav lang="en" th:replace="views/fragments/header :: nav"></nav>
            </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-7">
                <h2 class="text-info"><i class="fa fa-barcode"></i> Add Delivery Challan</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Inventory</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a th:href="@{/inventory/getDeliveryChellan}">DC / Purchase Slip List</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong> Add Delivery Challan</strong>
                    </li>
                </ol>
            </div>
            <div lang="en" th:replace="views/fragments/ipaddress :: div"></div>
        </div>
        <div class="wrapper wrapper-content">

            <div class="row">
                <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title  mastro-ibox-title">
                        <form id="getDeliveryChellanForm" th:action="@{/inventory/getSelectedDeliveryChellan}" method="get">
                            <div class="row">
                                <div class="col-lg-4">
                                        <input type="hidden" name="selectedBranchs" id="branchsIdInput">
                                        <input type="text" class="form-control branchautocomplete" required
                                               placeholder="Enter branch name">
                                        <div class="branch_dropdown">
                                            <ul class="auto-dropdown-menu">

                                            </ul>
                                        </div>
                                </div>
                                <div class="col-lg-2">
                                        <button type="submit" class="btn btn-default">Select</button>
                                </div>
                            </div>
                        </form>
                        <div class="ibox-tools">
                            
                        </div>
                    </div>
                    <div class="ibox-content mastro-ibox-content">


                            <div class="row">


                                <div class="col-lg-4">
                                <div class="form-group">
                                       <span th:if="${branchDetails!= null}">
                                <div><label>Billing Address</label>
                                    <p> <strong>Mastro Metals Pvt Ltd.</strong><br>
                                        <span th:text="${branchDetails.branchAddress}"></span><br>
                                     <span  th:text="${branchDetails.cityName}"></span> , <span th:text="${branchDetails.stateName}"></span>,
                                    <span th:text="${branchDetails.countryName}"></span><br>
                                        <span>Pincode : <span th:text="${branchDetails.pinCode}"></span></span><br>
                                        <span>Phone no : <span th:text="${branchDetails.phoneNo}"></span></span><br>
                                        <span>Email ID : <span th:text="${branchDetails.emailId}"></span></span>
                                    </p>
                                </div>
                                </span>
                                    </div>

                                </div>
                                <div class="col-lg-4"> 
                                    <div class="form-group">
                                        <span th:if="${branchDetails!= null}">
                                <div><label>Delivery Address</label>
                                    <p> <strong>Mastro Metals Pvt Ltd.</strong><br>
                                        <span th:text="${branchDetails.branchAddress}"></span><br>
                                     <span  th:text="${branchDetails.cityName}"></span> , <span th:text="${branchDetails.stateName}"></span>,
                                    <span th:text="${branchDetails.countryName}"></span><br>
                                        <span>Pincode : <span th:text="${branchDetails.pinCode}"></span></span><br>
                                        <span>Phone no : <span th:text="${branchDetails.phoneNo}"></span></span><br>
                                        <span>Email ID : <span th:text="${branchDetails.emailId}"></span></span>
                                    </p>
                                </div>
                                </span>
                                    </div>
                                </div>
                            </div>

                        <div class="ibox">
                            <div class="ibox-title  ">
                                <h3>Item Particulars</h3>
                                <div class="ibox-tools">
                                    
                                </div>
                            </div>
                            <!--<form id="addDeliveryChellanForm" th:action="@{/inventory/saveDeliveryChellan}" th:object="${deliveryChellanForm}"  name="deliveryChellanForm" method="post">-->

                            <form id="dcgetDeliveryChellanForm" th:action="@{/inventory/getSelectedDeliveryChellan}" method="get">

                            <div class="ibox-content">
                                    <div class="row">
                                       <!-- <div class="col-lg-4">
                                            <div class="form-group"><label>Item Name</label>
                                                <input type="text" class="form-control typeahead_1" />
                                            </div>
                                        </div>-->
                                        <div class="form-group">
                                            <label>Item Name</label>
                                            <input type="hidden" name="productId" id="itemIdInput">
                                            <input type="text" class="form-control indentitemautocmoplete"
                                                   placeholder="Enter Item Name" required>
                                            <div class="indent_item_dropdown">
                                                <ul class="auto-dropdown-menu">

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group"><label>Quantity</label>
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-lg-2 m-t-lg">
                                            <button type="button" class=" btn btn-primary ">Add Items</button>
                                        </div>
                                    </div>
                                </div> 
                            </form> 
                            
                        </div>
                        <form>
                        <div class="table-responsive">
                            <table class="table table-bordered  " >
                                <thead class="mastro-blue-bg ">
                                <tr class="mastro-blue-bg txt-white">
                                    <th class="mastro-blue-bg ">No</th>
                                    <th class="mastro-blue-bg txt-white">Item</th>
                                    <th class="mastro-blue-bg txt-white">Item Code</th>
                                    <th class="mastro-blue-bg txt-white">Quantity</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Oxy .47 Red 3.05mtr (10')</td>
                                        <td>15062020</td>
                                        <td>50</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Angles 25x6 (1x1/4)</td>
                                        <td>53269870</td>
                                        <td>50</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Flat 25x6mm (1x1/4)</td>
                                        <td>36975240</td>
                                        <td>50</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                               
                                </tfoot>
                                </table>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group"><label>Special instructions</label>
                                            <textarea class="form-control" rows="6">
        
                                            </textarea>
                                        </div> 
                                    </div>
                                    <div class="col-lg-6">
                                <div class="form-group"><label>Remarks</label>
                                    <textarea class="form-control" rows="6">

                                    </textarea>
                                </div> 
                                    </div>
                                </div>
                                <div class="col-lg-12 text-right">
                                    <button class="btn btn-primary btn-sm " type="button">Create DC</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>


        </div>


                <footer lang="en" th:replace="views/fragments/footer :: footer"></footer>

        </div>
      
    </div>
    <div lang="en" th:replace="views/fragments/switchBranch :: div"></div>
    <span id="branchAutopopulateUrl" th:data-url="@{/autopopulate/branch}"></span>
    <span id="indentItemAutopopulateUrl" th:data-url="@{/autopopulate/items/indent}"></span>


    <!-- Mainly scripts -->
   <script src="../resources/js/jquery-3.1.1.min.js" th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
   <script src="../resources/js/popper.min.js" th:src="@{/resources/js/popper.min.js}"></script>
   <script src="../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
   <script src="../resources/js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
   <script src="../resources/js/plugins/slimscroll/jquery.slimscroll.min.js" th:src="@{/resources/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
   <!-- Custom and plugin javascript -->
   <script src="../resources/js/inspinia.js" th:src="@{/resources/js/inspinia.js}"></script>
   <script src="../resources/js/plugins/pace/pace.min.js" th:src="@{/resources/js/plugins/pace/pace.min.js}"></script>
  <!-- jQuery UI -->
  <script src="../resources/js/plugins/jquery-ui/jquery-ui.min.js" th:src="@{/resources/js/plugins/jquery-ui/jquery-ui.min.js}"></script>

  <script src="../resources/js/plugins/dataTables/datatables.min.js" th:src="@{/resources/js/plugins/dataTables/datatables.min.js}"></script>
  <script src="../resources/js/plugins/dataTables/dataTables.bootstrap4.min.js" th:src="@{/resources/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>

 <!-- Sweet alert -->
 <script src="../resources/js/plugins/sweetalert/sweetalert.min.js" th:src="@{/resources/js/plugins/sweetalert/sweetalert.min.js}"></script>
    <script>
       $(document).ready(function(){

        // Branch auto-complete start
     var branchAutopopulateUrl = $('#branchAutopopulateUrl').data('url');
     $(".branch_dropdown").hide();
     $(".branchautocomplete").keyup(function () {

        var val = $(this).val().trim();
        if (val.length > 1) {
        $(".branch_dropdown ul").empty();
             $.ajax({
              url:branchAutopopulateUrl,
               type: 'GET',
               dataType : 'json',
               data: {'searchTerm':val},
               success: function(data){
                 if(data.success) {

                        $.each(data.data.branches, function(i){

                                      $(".branch_dropdown ul").append('<li><a class="dynamicClick" data-branchsid="'+this['id'] +'" href="#">'+ this['branchName'] +'</a></li>');
                                        });

                  }
                   },
               error: function(jqXHR, textStatus) {
               alert('Error Occured');
               }

              });
              $(".branch_dropdown").show();
        }
        else {
                    $(".branch_dropdown").hide();
                }
        });
        //Branch autocomplete end

        //dynamic click for item in item autocomplete start
            $(".branch_dropdown").on('click','a.dynamicClick',function (e) {
                e.preventDefault();
                var value = $(this).text();
             $(".branchautocomplete").val(value);
                            $("#branchsIdInput").val($(e.target).data('branchsid'));
                $(".branch_dropdown").hide();
            })
        //dynamic click for item in item autocomplete end

  var indentItemAutopopulateUrl = $('#indentItemAutopopulateUrl').data('url');
     $(".indent_item_dropdown").hide();
     $(".indentitemautocmoplete").keyup(function () {

		var val = $(this).val().trim();
		if (val.length > 2) {
		$(".indent_item_dropdown ul").empty();
		     $.ajax({
              url:indentItemAutopopulateUrl,
               type: 'GET',
               dataType : 'json',
               data: {'searchTerm':val},
               success: function(data){
                 if(data.success) {

                        $.each(data.data.products, function(i){

                                     $('.typeahead').append($('<li><a class="dropdown-item" href="#" role="option">'+ this['productname'] +' </a> </li>'));
                                      $(".indent_item_dropdown ul").append('<li><a class="dynamicClick" data-indentitemsid="'+this['id'] +'" href="#">'+ this['productname'] +'</a></li>');
                                        });
                  }
                   },
               error: function(jqXHR, textStatus) {
               alert('Error Occured');
               }

              });
              $(".indent_item_dropdown").show();
		}
		else {
        			$(".indent_item_dropdown").hide();
        		}
		});



			$(".indent_item_dropdown").on('click','a.dynamicClick',function (e) {
        		e.preventDefault();
        		var value = $(this).text();


                			$(".indentitemautocmoplete").val(value);
                			$("#itemIdInput").val($(e.target).data('indentitemsid'));
                			$(".indent_item_dropdown").hide();


              });

       });

</script>
</body>
</html>
