<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mastro Metals | Add GRN</title>

    <link href="../resources/css/bootstrap.min.css" rel="stylesheet" th:src="@{/resources/css/bootstrap.min.css}">
    <link href="../resources/font-awesome/css/font-awesome.css" rel="stylesheet"
          th:src="@{/resources/font-awesome/css/font-awesome.css}">
    <link href="../resources/css/plugins/dataTables/datatables.min.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/dataTables/datatables.min.css}">
    <!-- Sweet Alert -->
    <link href="../resources/css/plugins/sweetalert/sweetalert.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/sweetalert/sweetalert.css}">
    <!-- Morris -->
    <link href="../resources/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/morris/morris-0.4.3.min.css}">
    <link href="../resources/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="../resources/css/plugins/datapicker/datepicker3.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/datapicker/datepicker3.css}">
    <link href="../resources/css/animate.css" rel="stylesheet" th:src="@{/resources/css/animate.css}">
    <link href="../resources/css/style.css" rel="stylesheet" th:src="@{/resources/css/style.css}">
    <link href="../resources/css/mastro-style.css" rel="stylesheet" th:src="@{/resources/css/mastro-style.css}">

</head>

<body>
<div id="wrapper">
    <nav lang="en" th:replace="views/fragments/sidepanel :: nav"></nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom ">
            <nav lang="en" th:replace="views/fragments/header :: nav"></nav>
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-7">
                <h2 class="text-info"><i class="fa fa-barcode"></i> Add GRN</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Inventory</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">GRN List</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong> Add GRN</strong>
                    </li>
                </ol>
            </div>
            <div lang="en" th:replace="views/fragments/ipaddress :: div"></div>
        </div>
        <div class="wrapper wrapper-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">

                        <div class="ibox-content mastro-step-ibox-content">
                            <form th:action="@{/inventory/createGRNBasic}"
                                  th:object="${grnForm}"
                                  name="grnForm" method="post">
                         <span th:if="${grnDetails== null}">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="row">
                                
                                        <div class="col-lg-6">
                                            <div class="form-group"><label>Received Against</label>
                                                <select class="form-control" name="receivedAganist">
                                                    <option value="PO">PO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group"><label>Received From</label>
                                                    <input type="hidden" name="selectedParty" id="partysIdInput">
                                                    <input type="text" class="form-control grnpartyautocmoplete"
                                                           placeholder="Select party">

                                                    <div class="grn_party_dropdown">
                                                        <ul class="auto-dropdown-menu">

                                                        </ul>
                                                    </div>


                                                </div>

                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="row">
                                
                                        <div class="col-lg-6">
                                            <div class="form-group"><label>Purchase Order No</label>
                                                <select class="form-control" id="partyPo" name="poId">

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label>Invoice Copy</label>
                                            <div class="custom-file">
                                                <input id="logo" type="file" class="custom-file-input">
                                                <label for="logo" class="custom-file-label">Choose file...</label>
                                            </div> 
                                        </div>
                                        <div class="col-lg-8  ">
                                            <div class="table-responsive">
                                                <table class="table table-bordered ">
                                                    <tr>
                                                        <td class="master-blue-bg txt-white"
                                                            width="50%">Received As</td>
                                                        <td>
                                                        <!--  <div class="btn-group">-->
                                                            <!-- <button class="btn btn-primary  dcInvoiceBtn btn-outline active" id="dcBtn" type="button"> DC</button>
                                                             <button class="btn btn-primary  dcInvoiceBtn btn-outline " id="invoiceBtn" type="button"> Invoice</button>-->
                                                                 <select class="form-control" name="receivedAs">
                                                                <option value="DC">DC</option>
                                                                <option value="Invoice">Invoice</option>
                                                            </select>
                                                            <!--  </div>-->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="master-blue-bg txt-white">Party Invoice No</td>
                                                        <td><input type="text" class="form-control"
                                                                   name="partyInvoiceNo"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="master-blue-bg txt-white">Party Invoice Date</td>
                                                        <td>
                                                            <div id="addGrnDcOrInvoiceDate">
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon"><i
                                                                            class="fa fa-calendar"></i></span><input
                                                                        type="text" class="form-control" value=""
                                                                        name="spartyInvoiceDate">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="master-blue-bg txt-white">Received Through</td>
                                                        <td>
                                                            <select class="form-control" name="receivedThrough">
                                                                <option value="A">A</option>
                                                                <option value="B">B</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 text-right m-b-lg">
                                <button class="btn btn-primary btn-sm" type="submit">Select</button>
                            </div>
                             </span>

                                <span th:unless="${grnDetails== null}">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="form-group"><label>Received Against</label>
                                                <label class="col-sm-7 col-form-label"
                                                       th:text="${grnDetails.receivedAganist}">: HSN001</label>

                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group"><label>Received From</label>
                                                <div class="col-sm-8">

                                 <label class="col-sm-7 col-form-label"
                                        th:text="${grnDetails.party.partyName}">: HSN001</label>
                                                    <!-- <input type="text" class="form-control grnpartyautocmoplete"
                                                            placeholder="Select party" name="selectedParty">-->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="form-group"><label>Purchase Order No</label>

                                                  <label class="col-sm-7 col-form-label"
                                                         th:text="${grnDetails.purchaseOrder.id}">: HSN001</label>
                                                <!--   <select class="form-control" id="partyPo" name="poId">

                                                   </select>-->
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <!--<div class="col-lg-4">
                                            <label>Invoice Copy</label>
                                            <div class="custom-file">
                                                <input id="logo" type="file" class="custom-file-input">
                                                <label for="logo" class="custom-file-label">Choose file...</label>
                                            </div>
                                        </div>-->
                                        <div class="col-lg-8  ">
                                            <div class="table-responsive">
                                                <table class="table table-bordered ">
                                                    <tr>
                                                        <td class="master-blue-bg txt-white"
                                                            width="50%">Received As</td>
                                                        <td th:text="${grnDetails.receivedAs}">
                                                           <!-- <div class="btn-group">
                                                                <button class="btn btn-primary  dcInvoiceBtn btn-outline active" id="dcBtn" type="button"> DC</button>
                                                                <button class="btn btn-primary  dcInvoiceBtn btn-outline " id="invoiceBtn" type="button"> Invoice</button>
                                                            </div>-->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="master-blue-bg txt-white">Party Invoice No</td>
                                                        <td th:text="${grnDetails.number}"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="master-blue-bg txt-white">Party Invoice Date</td>
                                                        <td>
                                                            <div>
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon"><i
                                                                            class="fa fa-calendar"></i></span><span
                                                                        th:text="${#dates.format(grnDetails.date, 'dd-MMMM-yyyy')}"></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="master-blue-bg txt-white">Received Through</td>
                                                        <td th:text="${grnDetails.receivedThrough}">
                                                            <!--<select class="form-control" name="receivedThrough">
                                                                <option value="A">A</option>
                                                                <option value="B">B</option>
                                                            </select>-->
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    <!-- <div class="col-lg-12 text-right">
                                         <button class="btn btn-primary btn-sm" type="submit">Select</button>
                                     </div>-->
                             </span>
                            </form>
                            <form th:action="@{/inventory/saveGRNDetails}"
                                  th:object="${grnForm}"
                                  name="grnForm" method="post">
                              <span th:if="${grnDetails!= null}">
                            <input type="hidden" name="grnIds" th:value="${grnDetails.id}">
                              </span>
                                <div class="table-responsive">
                                    <table class="table table-bordered  ">
                                        <thead class="mastro-blue-bg ">
                                        <tr class="mastro-blue-bg txt-white">
                                            <th class="mastro-blue-bg ">No</th>
                                            <th class="mastro-blue-bg txt-white">Item</th>
                                            <th class="mastro-blue-bg txt-white">Unit</th>
                                            <th style="padding: 0px;margin: 0px;">
                                                <table width="100%">
                                                    <tr>
                                                        <th class="mastro-blue-bg txt-white" style="text-align: center;"
                                                            colspan="6">Quantity
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td class="mastro-blue-bg txt-white" width="20%">Pending</td>
                                                        <td class="mastro-blue-bg txt-white" width="20%">DC/Invoice</td>
                                                        <td class="mastro-blue-bg txt-white" width="20%">Received</td>
                                                        <td class="mastro-blue-bg txt-white" width="20%">Shotage</td>
                                                        <td class="mastro-blue-bg txt-white" width="20%">Accepted</td>
                                                        <td class="mastro-blue-bg txt-white" width="20%">Rejected</td>
                                                    </tr>
                                                </table>

                                            </th>
                                            <th class="mastro-blue-bg txt-white">Price / Unit</th>
                                            <th class="mastro-blue-bg txt-white">Discount %</th>
                                            <!-- <th class="mastro-blue-bg txt-white">Total Price</th>-->

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="GRNItemsObj,iterator:${grnForm.grnpoItemsModels}">

                                            <input type="hidden"
                                                   th:field="${grnForm.grnpoItemsModels[__${iterator.index}__].itemPartyGroupId}">
                                            <td th:text="${iterator.index+1}">1</td>
                                            <td th:text="${grnForm.grnpoItemsModels[__${iterator.index}__].itemId.productName}">
                                                Angles 25x6 (1x1/4)
                                            </td>
                                            <td th:text="${grnForm.grnpoItemsModels[__${iterator.index}__].quantity}">
                                                1
                                            </td>

                                            <td style="padding: 0px;margin: 0px;">
                                                <table width="100%">
                                                    <tr>
                                                        <td th:text="${grnForm.grnpoItemsModels[__${iterator.index}__].pending}">
                                                            11
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" required
                                                                   th:field="${grnForm.grnpoItemsModels[__${iterator.index}__].quantityDc}"/>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" required
                                                                   th:field="${grnForm.grnpoItemsModels[__${iterator.index}__].received}"/>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" required
                                                                   th:field="${grnForm.grnpoItemsModels[__${iterator.index}__].shortage}"/>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" required
                                                                   th:field="${grnForm.grnpoItemsModels[__${iterator.index}__].accepted}"/>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" required
                                                                   th:field="${grnForm.grnpoItemsModels[__${iterator.index}__].rejected}"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td th:text="${grnForm.grnpoItemsModels[__${iterator.index}__].rate}"></td>
                                            <td th:text="${grnForm.grnpoItemsModels[__${iterator.index}__].discount}"></td>
                                            <!-- <td></td>-->

                                        </tr>


                                        </tbody>
                                        <tfoot>

                                        </tfoot>
                                    </table>
                                </div>
                                <div class="row m-t-md">

                                    <div class="col-lg-4">
                                        <div class="form-group"><label>Remarks</label>
                                            <textarea class="form-control" rows="1" name="remarks">

                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-right">
                                    <button class="btn btn-primary btn-sm" type="submit">Create GRN</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <footer lang="en" th:replace="views/fragments/footer :: footer"></footer>

    </div>

</div>

<div class="modal inmodal" id="branchList" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <form id="branchListForm">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Branch List</h4>

                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="form-group  row"><label class="col-sm-4 col-form-label">User branches</label>

                            <div class="col-sm-8">
                                <select class="form-control" required>
                                    <option value="">Select branch</option>
                                    <option>Thrissur</option>
                                    <option>Ernakulam</option>
                                    <option>Kozhikode</option>
                                    <option>Kannur</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Select</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div lang="en" th:replace="views/fragments/switchBranch :: div"></div>
<!-- Mainly scripts -->
<span id="grnPartyAutopopulateUrl" th:data-url="@{/autopopulate/party}"></span>
<script src="../resources/js/jquery-3.1.1.min.js" th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
<script src="../resources/js/popper.min.js" th:src="@{/resources/js/popper.min.js}"></script>
<script src="../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
<script src="../resources/js/plugins/metisMenu/jquery.metisMenu.js"
        th:src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="../resources/js/plugins/slimscroll/jquery.slimscroll.min.js"
        th:src="@{/resources/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<!-- Custom and plugin javascript -->
<script src="../resources/js/inspinia.js" th:src="@{/resources/js/inspinia.js}"></script>
<script src="../resources/js/plugins/pace/pace.min.js" th:src="@{/resources/js/plugins/pace/pace.min.js}"></script>
<!-- jQuery UI -->
<script src="../resources/js/plugins/jquery-ui/jquery-ui.min.js"
        th:src="@{/resources/js/plugins/jquery-ui/jquery-ui.min.js}"></script>

<script src="../resources/js/plugins/dataTables/datatables.min.js"
        th:src="@{/resources/js/plugins/dataTables/datatables.min.js}"></script>
<script src="../resources/js/plugins/dataTables/dataTables.bootstrap4.min.js"
        th:src="@{/resources/js/plugins/dataTables/datatables.bootstrap4.min.js}"></script>


<!-- Sweet alert -->
<script src="../resources/js/plugins/sweetalert/sweetalert.min.js"
        th:src="@{/resources/js/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- Data picker -->
<script src="../resources/js/plugins/datapicker/bootstrap-datepicker.js"
        th:src="@{/resources/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
<!-- Tags Input -->
<script src="../resources/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"
        th:src="@{/resources/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js}"></script>
<script src="../resources/js/plugins/validate/jquery.validate.min.js"
        th:src="@{/resources/js/plugins/validate/jquery.validate.min.js}"></script>
<script src="../resources/js/mastro/mastro_main.js" th:src="@{/resources/js/mastro/mastro_main.js}"></script>
<script src="../resources/js/plugins/typehead/bootstrap3-typeahead.min.js"
        th:src="@{/resources/js/plugins/typehead/bootstrap3-typeahead.min.js}"></script>
</body>
</html>
<script>

$(document).ready(function(){

 var grnpartyAutopopulateUrl = $('#grnPartyAutopopulateUrl').data('url');
     $(".grn_party_dropdown").hide();
     $(".grnpartyautocmoplete").keyup(function () {

		var val = $(this).val().trim();
		if (val.length > 2) {

		$(".grn_party_dropdown ul").empty();
		     $.ajax({
              url:grnpartyAutopopulateUrl,
               type: 'GET',
               dataType : 'json',
               data: {'searchTerm':val},
               success: function(data){
                 if(data.success) {

                        $.each(data.data.partys, function(i){


                                      $(".grn_party_dropdown ul").append('<li><a class="dynamicClick" data-grnpartyid="'+this['id'] +'" href="#">'+ this['partysname'] +'</a></li>');
                                        });
                  }
                   },
               error: function(jqXHR, textStatus) {
               alert('Error Occured');
               }

              });
              $(".grn_party_dropdown").show();
		}
		else {
        			$(".grn_party_dropdown").hide();
        		}
		});


		$(".grn_party_dropdown").on('click','a.dynamicClick',function (e) {
                        		e.preventDefault();
                        		var value = $(this).text();
                        		var partyId = $(this).data('grnpartyid');

                        				$(".grnpartyautocmoplete").val(value);
                                			$("#partysIdInput").val($(e.target).data('grnpartyid'));
                        	             	$(".grn_party_dropdown").hide();

                   $.ajax({
        url: '/inventory/getPartyPo',
        type: 'GET',
        dataType : 'json',
        data: { 'partyId': partyId },
        success: function(data){
            if(data.success) {
            $("#partyPo").html("");
               $.each(data.data.partypos, function(i){

               $('#partyPo').append($('<option>').val(this['id']).text(this['id']));
                  });
            }
        },
        error: function(jqXHR, textStatus) {
            alert('Error Occured');
        }
    });

                        	})


});



   $('.dcInvoiceBtn').click(function (event) {
      event.preventDefault();
          event.stopPropagation();
             id = this.id;
  if (id == 'dcBtn') {
   $('#dcBtn').toggleClass("active");
  if ($('#dcBtn').hasClass('active')){
 $('#invoiceBtn').removeClass("active");
 }
   }
else if (id == 'invoiceBtn'){
     $('#invoiceBtn').toggleClass("active");
 if ($('#invoiceBtn').hasClass('active')){
 $("#dcBtn").removeClass("active");
 }     } });

</script>