<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mastro Metals | Brands List </title>

    <link href="../resources/css/bootstrap.min.css" rel="stylesheet" th:src="@{/resources/css/bootstrap.css}">
    <link href="../resources/font-awesome/css/font-awesome.css" rel="stylesheet"
          th:src="@{/resources/font-awesome/css/font-awesome.css}">
    <link href="../resources/css/plugins/dataTables/datatables.min.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/dataTables/datatables.min.css}">
    <!-- Morris -->
    <link href="../resources/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/morris/morris-0.4.3.min.css}">
    <!-- Sweet Alert -->
    <link href="../resources/css/plugins/sweetalert/sweetalert.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/sweetalert/sweetalert.css}">
    <link href="../resources/css/animate.css" rel="stylesheet" th:src="@{/resources/css/animate.css}">
    <link href="../resources/css/style.css" rel="stylesheet" th:src="@{/resources/css/style.css}">
    <link href="../resources/css/mastro-style.css" rel="stylesheet" th:src="@{/resources/css/mastro-style.css}">
</head>

<body>
<div id="wrapper">
    <nav lang="en" th:replace="views/fragments/sidepanel :: nav"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom ">
            <nav lang="en" th:replace="views/fragments/header :: nav"></nav>
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-7">
                <h2 class="text-info"><i class="fa fa-barcode"></i> Brands List </h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Master</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Brands List </strong>
                    </li>
                </ol>
            </div>
            <div lang="en" th:replace="views/fragments/ipaddress :: div"></div>
        </div>
        <div class="wrapper wrapper-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title  ">
                            <!-- <h5 class="text-info"> <strong> <i class="fa fa-barcode"></i> HSN List</strong></h5> -->
                            <div class="ibox-tools">
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i
                                            class="fa fa-cogs "></i></button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item font-bold" href="#" data-toggle="modal"
                                               data-target="#addBrand"><i class="fa fa-plus-square"></i> Add Brand</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-brand">
                                    <thead class="mastro-blue-bg txt-white">
                                    <tr>
                                        <th class="mastro-blue-bg txt-white">No</th>
                                        <th>Brand Name</th>
                                        <th>Brand Description</th>
                                        <th>Controls</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX" th:each="brandObj,iterator:${brandList}">
                                        <td th:text="${iterator.index+1}">1</td>
                                        <td th:text="${brandObj.brandName}"></td>
                                        <td th:text="${brandObj.brandDescription}"></td>
                                        <td class="center">
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                                                    Action
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item font-bold brandEdit" href="#"
                                                           data-toggle="modal"
                                                           data-target="#editBrand" th:data-brandid="${brandObj.id}"><i
                                                            class="fa fa-edit"></i>
                                                        Manage</a></li>
                                                    <li class="dropdown-divider"></li>
                                                    <li><a class="dropdown-item font-bold removeBrand" href="#"
                                                           th:data-brandids="${brandObj.id}"><i
                                                            class="fa fa-trash"></i> Remove</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>


        <footer lang="en" th:replace="views/fragments/footer :: footer"></footer>

    </div>

</div>
<div class="modal inmodal" id="addBrand" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <form id="addBrandForm" th:action="@{/master/saveBrand}" th:object="${brandForm}"
              name="brandForm" method="post">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add Brand</h4>

                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="form-group  row"><label class="col-sm-4 col-form-label">Brand Name <i
                                class="fa fa-asterisk "></i></label>

                            <div class="col-sm-8"><input type="text" required class="form-control"
                                                         th:field="*{brandName}"/></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group  row"><label class="col-sm-4 col-form-label">Brand Description</label>

                            <div class="col-sm-8">
                                    <textarea class="form-control" th:field="*{brandDescription}">

                                    </textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="modal inmodal" id="editBrand" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/master/saveBrand}" th:object="${brandForm}"
              name="brandForm" method="post">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit Brand</h4>

                </div>
                <input type="hidden" name="id" id="brandId"/>

                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="form-group  row"><label class="col-sm-4 col-form-label">Brand Name <i
                                class="fa fa-asterisk "></i></label>

                            <div class="col-sm-8"><input type="text" name="brandName" id="brandnames" required
                                                         class=" form-control"/></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group  row"><label class="col-sm-4 col-form-label">Brand Description</label>

                            <div class="col-sm-8">
                                    <textarea class="form-control" name="brandDescription" id="branddescription">

                                    </textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<div lang="en" th:replace="views/fragments/switchBranch :: div"></div>

<!-- Mainly scripts -->
<script src="../resources/js/jquery-3.1.1.min.js" th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
<script src="../resources/js/popper.min.js" th:src="@{/resources/js/popper.min.js}"></script>
<script src="../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
<script src="../resources/js/plugins/metisMenu/jquery.metisMenu.js"
        th:src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="../resources/js/plugins/slimscroll/jquery.slimscroll.min.js"
        th:src="@{/resources/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<script src="../resources/js/plugins/dataTables/datatables.min.js"
        th:src="@{/resources/js/plugins/dataTables/datatables.min.js}"></script>
<script src="../resources/js/plugins/dataTables/dataTables.bootstrap4.min.js"
        th:src="@{/resources/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>
<!-- Flot -->


<!-- Custom and plugin javascript -->

<script src="../resources/js/inspinia.js" th:src="@{/resources/js/inspinia.js}"></script>

<script src="../resources/js/plugins/pace/pace.min.js" th:src="@{/resources/js/plugins/pace/pace.min.js}"></script>
<!-- Sweet alert -->
<script src="../resources/js/plugins/sweetalert/sweetalert.min.js"
        th:src="@{/resources/js/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- jQuery UI -->
<script src="../resources/js/plugins/jquery-ui/jquery-ui.min.js"
        th:src="@{/resources/js/plugins/jquery-ui/jquery-ui.min.js}"></script>
<script src="../resources/js/mastro/master.js" th:src="@{/resources/js/mastro/master.js}"></script>
<script src="../resources/js/mastro/master_datatable.js" th:src="@{/resources/js/mastro/master_datatable.js}"></script>
</body>
</html>
