<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mastro Metals | Add Branch</title>


    <link href="../resources/css/bootstrap.min.css" rel="stylesheet" th:src="@{/resources/css/bootstrap.min.css}">
    <link href="../resources/font-awesome/css/font-awesome.css" rel="stylesheet"
          th:src="@{/resources/font-awesome/css/font-awesome.css}">
    <link href="../resources/css/plugins/steps/jquery.steps.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/steps/jquery.steps.css}">
    <link href="../resources/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css}">
    <link href="../resources/css/plugins/datapicker/datepicker3.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/datapicker/datepicker3.css}">
    <!-- Morris -->
    <link href="../resources/css/plugins/select2/select2.min.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/select2/select2.min.css}">
    <link href="../resources/css/plugins/select2/select2-bootstrap4.min.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/select2/select2-bootstrap4.min.css}">
    <link href="../resources/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/morris/morris-0.4.3.min.css}">
    <link href="../resources/css/animate.css" rel="stylesheet" th:src="@{/resources/css/animate.css}">
    <link href="../resources/css/style.css" rel="stylesheet" th:src="@{/resources/css/style.css}">
    <link href="../resources/css/mastro-style.css" rel="stylesheet" th:src="@{/resources/css/mastro-style.css}">
</head>

<body >
<div id="wrapper">
    <nav lang="en" th:replace="views/fragments/sidepanel :: nav"></nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom ">
            <nav lang="en" th:replace="views/fragments/header :: nav"></nav>
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-7">
                <h2 class="text-info"><i class="fa fa-barcode"></i> Add Branch </h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Admin</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a th:href="@{/admin/getBranch}">Branch List</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong> Add Branch</strong>
                    </li>
                </ol>
            </div>

            <div lang="en" th:replace="views/fragments/ipaddress :: div"></div>
        </div>
        <div class="wrapper wrapper-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-content mastro-step-ibox-content">
                            <form id="createBranchform"  th:action="@{/admin/saveBranch}" th:object="${branchForm}"
                                  name="branchForm" method="post" class="wizard-big">
                                <h1>General Details</h1>
                                <fieldset>

                                    <h2>General Details</h2>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Branch Name <i class="fa fa-asterisk "></i></label>
                                                <input id="addBrachName" type="text" class="form-control" name="branchName" th:field="*{branchName}">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label>Email ID <i class="fa fa-asterisk "></i></label>
                                                <input type="email" class="form-control " th:field="*{emailId}" name="emailId">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label>Local Currency</label>
                                                <select class="form-control m-b" name="localCurrency" >
                                                    <option value="">Select</option>
                                                    <option value="Rupee">Rupee</option>
                                                    <option value="Dollar">Dollar</option>
                                                </select>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label>City Name <i class="fa fa-asterisk "></i></label>
                                                <select class="form-control m-b selectCity  " name="cityName"
                                                        id="addBranchCityName">
                                                    <option value="">Select</option>
                                                    <option value="Alappuzha">Alappuzha</option>
                                                    <option value="Idukki">Idukki</option>
                                                    <option value="Kottayam">Kottayam</option>
                                                    <option value="Kannur">Kannur</option>
                                                    <option value="Kasaragod">Kasaragod</option>
                                                    <option value="Kollam">Kollam</option>
                                                    <option value="Kozhikode">Kozhikode</option>
                                                    <option value="Malappuram">Malappuram</option>
                                                    <option value="Palakkad">Palakkad</option>
                                                    <option value="Pathanamthitta">Pathanamthitta</option>
                                                    <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                                                    <option value="Thrissur">Thrissur</option>
                                                    <option value="Wayanad">Wayanad</option>
                                                    <option value="Ernakulam">Ernakulam</option>
                                                </select>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Branch Prefix</label>
                                                <input  type="text" class="form-control " th:field="*{branchPrefix}">
                                            </div>
                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group">
                                                <label>Landline Number <i class="fa fa-asterisk "></i></label>
                                                <input  type="text" class="form-control " th:field="*{landNo}" name="landNo">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label>Country Name <i class="fa fa-asterisk "></i></label>
                                                <select class="form-control m-b selectCountry  "
                                                        name="countryName" id="addBranchCountryName">
                                                    <option value="">Select</option>
                                                    <option value="India">India</option>
                                                    <option value="America">America</option>
                                                </select>

                                            </div>
                                            <div class="hr-line-dashed"></div>


                                            <div class="form-group">
                                                <label>Address <i class="fa fa-asterisk "></i></label>
                                                <textarea class="form-control m-b required" id="branchAddress" name="branchAddress"
                                                          th:field="*{branchAddress}"></textarea>

                                            </div>
                                            <div class="hr-line-dashed"></div>


                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Website</label>
                                                <input type="text" class="form-control " th:field="*{website}">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label>Mobile Number <i class="fa fa-asterisk "></i></label>
                                                <input  type="text" class="form-control " th:field="*{phoneNo}" name="phoneNo">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <label>Fax No.</label>
                                                <input type="text" class="form-control " th:field="*{faxNo}">
                                            </div>
                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group">
                                                <label>State Name <i class="fa fa-asterisk "></i></label>
                                                <select class="form-control m-b selectState  " name="stateName"
                                                        id="addBranchStateName">
                                                    <option value="">Select</option>
                                                    <option value="AndhraPradesh">Andhra Pradesh</option>
                                                    <option value="Karnataka">Karnataka</option>
                                                    <option value="Kerala">Kerala</option>
                                                    <option value="Telangana">Telangana</option>
                                                    <option value="TamilNadu">Tamil Nadu</option>
                                                </select>
                                            </div>
                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group">
                                                <label>Pin Code <i class="fa fa-asterisk "></i></label>
                                                <input type="text" class="form-control " id="addBranchPinCode" name="pinCode"
                                                       th:field="*{pinCode}">
                                            </div>
                                            <div class="hr-line-dashed"></div>

                                        </div>
                                    </div>
                                </fieldset>

                                <h1>Registration Details</h1>
                                <fieldset>
                                    <h2>Registration Details</h2>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>TAN No.</label>
                                                <input type="text" th:field="*{tanNo}" class="form-control" >
                                            </div>
                                        </div>

                                    </div>
                                    <div class="hr-line-dashed"></div>

                                    <h2>Income Tax Registration Details</h2>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>PAN No.</label>
                                                <input type="text" class="form-control " th:field="*{panNo}">
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group" id="incomeTaxEffectFrmDate">
                                                <label>With effect From Date	</label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i
                                                            class="fa fa-calendar"></i></span><input
                                                        class="form-control" th:field="*{sPanDate}" type="text">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <h2>Provident Fund Registration Details</h2>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>PF Account No.</label>
                                                <input type="text" class="form-control "  th:field="*{pfAccount}">
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group" id="pfEffectFrmDate">
                                                <label>With effect From Date	</label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i
                                                            class="fa fa-calendar"></i></span><input
                                                        class="form-control" th:field="*{sPfDate}" type="text">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <h2>ESIC Registration Details</h2>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label> ESIC Account No.</label>
                                                <input type="text" class="form-control " th:field="*{esicAccount}">
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group" id="esicEffectFrmDate">
                                                <label>With effect From Date	</label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i
                                                            class="fa fa-calendar"></i></span><input
                                                        class="form-control" name="sEsicDate" th:field="*{sEsicDate}"
                                                        type="text">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <h2>GST Details</h2>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label> GSTIN</label>
                                                <input  type="text" class="form-control " th:field="*{gstIn}">
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group" id="gstEffectFrmDate">
                                                <label>GST Effective From	</label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i
                                                            class="fa fa-calendar"></i></span><input
                                                        class="form-control" name="sGstDate" th:field="*{sGstDate}"
                                                        type="text">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <footer lang="en" th:replace="views/fragments/footer :: footer"></footer>

    </div>

</div>

<div lang="en" th:replace="views/fragments/switchBranch :: div"></div>

<!-- Mainly scripts -->
<script src="../resources/js/jquery-3.1.1.min.js" th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
<script src="../resources/js/popper.min.js" th:src="@{/resources/js/popper.min.js}"></script>
<script src="../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
<script src="../resources/js/plugins/metisMenu/jquery.metisMenu.js"
        th:src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="../resources/js/plugins/slimscroll/jquery.slimscroll.min.js"
        th:src="@{/resources/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>


<!-- Custom and plugin javascript -->

<script src="../resources/js/inspinia.js" th:src="@{/resources/js/inspinia.js}"></script>
<script src="../resources/js/plugins/pace/pace.min.js" th:src="@{/resources/js/plugins/pace/pace.min.js}"></script>
<script src="../resources/js/plugins/slimscroll/jquery.slimscroll.min.js"
        th:src="@{/resources/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- jQuery UI -->
<script src="../resources/js/plugins/jquery-ui/jquery-ui.min.js"
        th:src="@{/resources/js/plugins/jquery-ui/jquery-ui.min.js}"></script>



<!-- Data picker -->
<script src="../resources/js/plugins/datapicker/bootstrap-datepicker.js" th:src="@{/resources/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
<!-- Tags Input -->
<script src="../resources/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js" th:src="@{/resources/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js}"></script>
<!-- Steps -->
<script src="../resources/js/plugins/steps/jquery.steps.min.js" th:src="@{/resources/js/plugins/steps/jquery.steps.min.js}"></script>
<!-- Jquery Validate -->
<script src="../resources/js/plugins/validate/jquery.validate.min.js" th:src="@{/resources/js/plugins/validate/jquery.validate.min.js}"></script>
<script src="../resources/js/plugins/select2/select2.full.min.js"
        th:src="@{/resources/js/plugins/select2/select2.full.min.js}"></script>
<!-- Custom Mastro Admin -->
<script src="../resources/js/mastro/admin.js" th:src="@{/resources/js/mastro/admin.js}"></script>
<script src="../resources/js/mastro/branch_step.js" th:src="@{/resources/js/mastro/branch_step.js}"></script>


</body>
</html>
