<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mastro Metals | Edit Component</title>

    <link href="../resources/css/bootstrap.min.css" rel="stylesheet" th:src="@{/resources/css/bootstrap.min.css}">
    <link href="../resources/font-awesome/css/font-awesome.css" rel="stylesheet" th:src="@{/resources/font-awesome/css/font-awesome.css}">
    <link href="../resources/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" th:src="@{/resources/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css}">
    <!-- Morris -->
    <link href="../resources/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" th:src="@{/resources/css/plugins/morris/morris-0.4.3.min.css}">
    <link href="../resources/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" th:src="@{/resources/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css}">
    <!-- Sweet Alert -->
    <link href="../resources/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" th:src="@{/resources/css/plugins/sweetalert/sweetalert.css}">
    <link href="../resources/css/animate.css" rel="stylesheet" th:src="@{/resources/css/animate.css}">
    <link href="../resources/css/style.css" rel="stylesheet" th:src="@{/resources/css/style.css}">
    <link href="../resources/css/mastro-style.css" rel="stylesheet" th:src="@{/resources/css/mastro-style.css}">
</head>

<body>
<div id="wrapper">
    <nav lang="en" th:replace="views/fragments/sidepanel :: nav"></nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom ">
            <nav lang="en" th:replace="views/fragments/header :: nav"></nav>
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-7">
                <h2 class="text-info"><i class="fa fa-barcode"></i> Edit Component</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Master</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a th:href="@{/hr/getSalaryComponent}">Salary Components</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Edit Component</strong>
                    </li>

                </ol>
            </div>

            <div lang="en" th:replace="views/fragments/ipaddress :: div"></div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-content mastro-step-ibox-content">
                            <form id="EditSalaryComponentsForm" th:action="@{/hr/saveSalryComponent}" th:object="${salryComponentForm}" name="salryComponentForm" method="post">
                                <input type="hidden" name="id" th:field="*{id}"/>
                                <div class="row">
                                    <div class="col-lg-6 b-r">
                                        <div class="form-group  row">
                                            <label class="col-sm-4 col-form-label">Component Type<i class="fa fa-asterisk "></i></label>
                                            <div class="col-sm-8">
                                                <select class="form-control" th:field="*{componentType}">
                                                    <option value="">Select Component Type</option>
                                                    <option value="Earnings">Earnings</option>
                                                    <option value="Reimbursement">Reimbursement</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group  row">
                                            <label class="col-sm-4 col-form-label">Component Name<i class="fa fa-asterisk "></i></label>
                                            <div class="col-sm-8">
                                                <input  type="text" class="form-control "  name="componentName" th:field="*{componentName}">
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group  row">
                                            <label class="col-sm-4 col-form-label">Name in Payslip<i class="fa fa-asterisk "></i></label>
                                            <div class="col-sm-8">
                                                <input  type="text" class="form-control "  name="payslipName" th:field="*{payslipName}">
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group  row">

                                            <label class="col-sm-4 col-form-label">Calculation Type<i class="fa fa-asterisk "></i></label>
                                            <div class="col-sm-8">
                                                <span th:if="${salryComponentForm.calculation_Type == 'Percentage'}" >
                                                <input type="radio" id="flatAmount"  th:value=${"Flat-Amount"}  name="calculationType"> Flat Amount <br>
                                                    <input type="radio" checked  th:value=${"Percentage"} name="calculationType"> Percentage of CTC
                                                </span>

                                                <span th:unless="${salryComponentForm.calculation_Type == 'Percentage'}" >
                                                <input type="radio"  id="flatAmount" checked  th:value=${"Flat-Amount"} name="calculationType"> Flat Amount <br>
                                                    <input type="radio"  th:value=${"Percentage"} name="calculationType"> Percentage of CTC
                                                </span>

                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>


                                       <div class="form-group row" id="calculationPercentage">
                                            <label class="col-sm-4 col-form-label">Enter Percentage</label>
                                            <div class="col-sm-8">
                                                <input class="percentageCalculation" type="text"  th:field="*{percentageAmount}">
                                            </div>
                                        </div>
                                        <div class="form-group row" id="calculationAmount">
                                            <label class="col-sm-4 col-form-label">Enter Amount</label>
                                            <div class="col-sm-8">
                                                <div class="input-group m-b">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-addon">&#8377;</span>
                                                    </div>

                                                    <input type="text" class="form-control " th:field="*{amount}" name="amount">
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="col-lg-12 text-right">
                                        <button class="btn btn-primary btn-sm" type="submit">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <footer lang="en" th:replace="views/fragments/footer :: footer"></footer>

    </div>

</div>
<div lang="en" th:replace="views/fragments/switchBranch :: div"></div>
<!-- Mainly scripts -->
<script src="../resources/js/jquery-3.1.1.min.js" th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
<script src="../resources/js/popper.min.js" th:src="@{/resources/js/popper.min.js}"></script>
<script src="../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
<script src="../resources/js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="../resources/js/plugins/slimscroll/jquery.slimscroll.min.js" th:src="@{/resources/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Custom and plugin javascript -->
<script src="../resources/js/inspinia.js" th:src="@{/resources/js/inspinia.js}"></script>
<script src="../resources/js/plugins/pace/pace.min.js" th:src="@{/resources/js/plugins/pace/pace.min.js}"></script>
<!-- jQuery UI -->
<script src="../resources/js/plugins/jquery-ui/jquery-ui.min.js" th:src="@{/resources/js/plugins/jquery-ui/jquery-ui.min.js}"></script>
<script src="../resources/js/plugins/validate/jquery.validate.min.js" th:src="@{/resources/js/plugins/validate/jquery.validate.min.js}"></script>
<script src="../resources/js/mastro/mastro_main.js" th:src="@{/resources/js/mastro/mastro_main.js}"></script>
<!-- Tags Input -->
<script src="../resources/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js" th:src="@{/resources/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js}"></script>
<!-- TouchSpin -->
<script src="../resources/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js" th:src="@{/resources/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js}"></script>
<script>
$(document).ready(function(){
if ($("#flatAmount").is(":checked")) {
$("#calculationAmount").show();
$("#calculationPercentage").hide();
}
else{
$("#calculationAmount").hide();
$("#calculationPercentage").show();
}

});
    // add salary components percentage calculation stat
$(".percentageCalculation").TouchSpin({
    min: 0,
    max: 100,
    step: 0.1,
    decimals: 2,
    boostat: 5,
    maxboostedstep: 10,
    postfix: '%',
    buttondown_class: 'btn btn-white',
    buttonup_class: 'btn btn-white'
});
</script>
</body>
</html>
