<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mastro Metals | Purchase Order List</title>

    <link href="../resources/css/bootstrap.min.css" rel="stylesheet" th:src="@{/resources/css/bootstrap.min.css}">
    <link href="../resources/font-awesome/css/font-awesome.css" rel="stylesheet"
          th:src="@{/resources/font-awesome/css/font-awesome.css}">
    <link href="../resources/css/plugins/dataTables/datatables.min.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/dataTables/datatables.min.css}">
    <!-- Morris -->
    <link href="../resources/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/morris/morris-0.4.3.min.css}">
    <!-- Sweet Alert -->
    <link href="../resources/css/plugins/sweetalert/sweetalert.css" rel="stylesheet"
          th:src="@{/resources/css/plugins/sweetalert/sweetalert.css}">
    <link href="../resources/css/animate.css" rel="stylesheet" th:src="@{/resources/css/animate.css}">
    <link href="../resources/css/style.css" rel="stylesheet" th:src="@{/resources/css/style.css}">
    <link href="../resources/css/mastro-style.css" rel="stylesheet" th:src="@{/resources/css/mastro-style.css}">
</head>

<body>
<div id="wrapper">
    <nav lang="en" th:replace="views/fragments/sidepanel :: nav"></nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom ">
            <nav lang="en" th:replace="views/fragments/header :: nav"></nav>
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-7">
                <h2 class="text-info"><i class="fa fa-barcode"></i> Purchase Order List</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Purchase</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Purchase Order List </strong>
                    </li>
                </ol>
            </div>
            <div lang="en" th:replace="views/fragments/ipaddress :: div"></div>
        </div>
        <div class="wrapper wrapper-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title mastro-ibox-title ">
                            <!-- <h5 class="text-info"> <strong> <i class="fa fa-barcode"></i> HSN List</strong></h5> -->
                            <div class="ibox-tools">
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><i
                                            class="fa fa-cogs "></i></button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item font-bold" href="#"><i
                                                class="fa fa-plus-square"></i> Add PO </a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><a class="dropdown-item font-bold" data-toggle="modal"
                                               data-target="#addPoViaIndent" href="#"><i class="fa fa-plus-square"></i>
                                            Add PO Via Indent</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content mastro-ibox-content">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-purchaseOrder">
                                    <thead class="mastro-blue-bg txt-white">
                                    <tr>
                                        <th class="mastro-blue-bg txt-white">No</th>
                                        <th>PO No.</th>
                                        <th>PO Date</th>
                                        <!-- <th>PO Qty</th>-->
                                        <!-- <th>Item Name</th>
                                         <th>Current Stock</th>
                                         <th>Average Consumption</th>-->
                                        <th>Indent No</th>
                                        <th>Party Name</th>
                                        <!--  <th>UOM</th>-->
                                        <!--<th>Rate</th>-->
                                        <th>PO Status</th>
                                        <th>Reason</th>
                                        <th>Controls</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX" th:each="purchaseObj,iterator:${purchaseList}">
                                        <td th:text="${iterator.index+1}">1</td>
                                        <td th:text="${purchaseObj.poNo}">PO-06082020</td>
                                        <span th:if="${purchaseObj.createdDate!= null}">
                                        <td th:text="${#dates.format(purchaseObj.createdDate, 'dd-MMMM-yyyy')}"></td>
                                        </span>
                                        <span th:unless="${purchaseObj.createdDate!= null}">
                                        <td></td>
                                        </span>
                                        <!--  <td>200</td>-->
                                        <!--  <td>Oxy .47 Red 3.05mtr (10')</td>
                                          <td>450</td>
                                          <td>300</td>-->
                                        <td class="center" th:text="${purchaseObj.indent.indentNo}">IND-060259240</td>
                                        <td class="center" th:text="${purchaseObj.party.partyName}">GM Steels Pvt Ltd
                                        </td>
                                        <!-- <td class="center">Ft</td>-->
                                        <!-- <td class="center">200</td>-->
                                        <td th:if="${purchaseObj.status== 'Delivered' || purchaseObj.status=='Invoiced'}">
                                          <span th:each="grn:${purchaseObj.grnSet}">
                                              <span th:if="${grn.grnItems!=null and !grn.grnItems.empty}">
                                              <span th:if="${grn.createAnotherPO== 1}">
                                            <a href="#" class="text-danger"
                                               th:href="@{/purchase/getPurchaseOrderPreview?poId=__${purchaseObj.id}__}"><b
                                                    th:text="${purchaseObj.status}">Draft</b></a>
                                                  </span>
                                                  <span th:unless="${grn.createAnotherPO== 1}">
                                            <a href="#"
                                               th:href="@{/purchase/getPurchaseOrderPreview?poId=__${purchaseObj.id}__}"><b
                                                    th:text="${purchaseObj.status}">Draft</b></a>
                                                  </span>
                                          </span>
                                          </span>
                                        </td>
                                        <td th:unless="${purchaseObj.status== 'Delivered' || purchaseObj.status=='Invoiced'}">
                                            <a href="#"
                                               th:href="@{/purchase/getPurchaseOrderPreview?poId=__${purchaseObj.id}__}"><b
                                                    th:text="${purchaseObj.status}">Draft</b></a></td>
                                        <td class="center" th:text="${purchaseObj.reason}">200</td>
                                        <td class="center">
                                            <!--<button type="button" class="btn btn-w-m btn-info dim">View GRNS</button>
                                            <button type="button" class="btn btn-w-m btn-warning dim">Generate Purchase Invoice</button>-->
                                            <div class="btn-group"
                                                 th:if="${purchaseObj.status== 'Delivered' || purchaseObj.status=='Invoiced'}">
                                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                                                    Action
                                                </button>
                                                <ul class="dropdown-menu">


                                                    <li><a class="dropdown-item font-bold"
                                                           th:href="@{/purchase/getPurchaseOrderGRN?poId=__${purchaseObj.id}__}">
                                                        <i class="fa fa-eye"></i> View GRNs</a></li>
                                                    <li th:if="${purchaseObj.status== 'Delivered'}"><a
                                                            class="dropdown-item font-bold"
                                                            th:href="@{/purchase/getPurchaseOrderInvoice?poId=__${purchaseObj.id}__}">
                                                        <i class="fa fa-plus-square"></i> Generate Invoice</a></li>
                                                    <!--<span th:each="grn:${purchaseObj.grnSet}">-->

                                                    <li th:each="grn:${purchaseObj.grnSet}"><a
                                                            class="dropdown-item font-bold"
                                                            th:if="${grn.createAnotherPO== 1}"
                                                            th:href="@{/purchase/getPurchaseOrderForPending?poId=__${purchaseObj.id}__}">
                                                        <i class="fa fa-plus-square"></i> Create PO</a></li>

                                                    <!-- </span>-->
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>


        <footer lang="en" th:replace="views/fragments/footer :: footer"></footer>

    </div>

</div>
<div class="modal inmodal" id="addPoViaIndent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form action="">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Choose Indent</h4>

                </div>
                <div class="modal-body">
                    <div class="table-responsive">

                        <table class="table table-striped table-bordered table-hover dataTables-purchaseviaindent">
                            <thead class="mastro-blue-bg txt-white">
                            <tr>
                                <th class="mastro-blue-bg txt-white">No</th>
                                <th>Indent No.</th>
                                <th>Indent Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="gradeX" th:each="indentObj,iterator:${indentSet}">
                                <td th:text="${iterator.index+1}">1</td>
                                <td class="center"><a href="add_po_via_indent.html"
                                                      th:href="@{/purchase/getPurchaseOrderViaIndent?indentId=__${indentObj.id}__}"><span
                                        th:text="${indentObj.indentNo}"></span></a></td>
                                <td class="center" th:text="${#dates.format(indentObj.createdDate, 'dd-MMMM-yyyy')}">

                                </td>
                            </tr>

                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>
               <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>-->
            </div>
        </form>
    </div>
</div>

<div lang="en" th:replace="views/fragments/switchBranch :: div"></div>
<!-- Mainly scripts -->
<script src="../resources/js/jquery-3.1.1.min.js" th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
<script src="../resources/js/popper.min.js" th:src="@{/resources/js/popper.min.js}"></script>
<script src="../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
<script src="../resources/js/plugins/metisMenu/jquery.metisMenu.js"
        th:src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="../resources/js/plugins/slimscroll/jquery.slimscroll.min.js"
        th:src="@{/resources/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<script src="../resources/js/plugins/dataTables/datatables.min.js"
        th:src="@{/resources/js/plugins/dataTables/datatables.min.js}"></script>
<script src="../resources/js/plugins/dataTables/dataTables.bootstrap4.min.js"
        th:src="@{/resources/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>


<!-- Custom and plugin javascript -->
<script src="../resources/js/inspinia.js" th:src="@{/resources/js/inspinia.js}"></script>
<script src="../resources/js/plugins/pace/pace.min.js" th:src="@{/resources/js/plugins/pace/pace.min.js}"></script>
<!-- Sweet alert -->
<script src="../resources/js/plugins/sweetalert/sweetalert.min.js"
        th:src="@{/resources/js/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- jQuery UI -->
<script src="../resources/js/plugins/jquery-ui/jquery-ui.min.js"
        th:src="@{/resources/js/plugins/jquery-ui/jquery-ui.min.js}"></script>

<script>
        $(document).ready(function(){
            $('.poApproved').click(function(){
            swal({
                title: "Approved!",
                text: "You Approved Purchase Order!",
                type: "success"
            });
        });
            $('.dataTables-purchaseOrder').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

              $('.dataTables-purchaseviaindent').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [

                ]

            });

        });




</script>
</body>
</html>
