<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mastro Metals | Sales Order Preview</title>

    <link href="../resources/css/bootstrap.min.css" rel="stylesheet" th:src="@{/resources/css/bootstrap.min.css}">
    <link href="../resources/font-awesome/css/font-awesome.css" rel="stylesheet" th:src="@{/resources/font-awesome/css/font-awesome.css}">
    <link href="../resources/css/plugins/dataTables/datatables.min.css" rel="stylesheet" th:src="@{/resources/css/plugins/dataTables/datatables.min.css}">
    <!-- Morris -->
    <link href="../resources/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" th:src="@{/resources/css/plugins/morris/morris-0.4.3.min.css}">
  <!-- Sweet Alert -->
  <link href="../resources/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" th:src="@{/resources/css/plugins/sweetalert/sweetalert.css}">
    <link href="../resources/css/animate.css" rel="stylesheet" th:src="@{/resources/css/animate.css}">
    <link href="../resources/css/style.css" rel="stylesheet" th:src="@{/resources/css/style.css}">
    <link href="../resources/css/mastro-style.css" rel="stylesheet" th:src="@{/resources/css/mastro-style.css}">
</head>

<body>
    <div id="wrapper">
        <nav lang="en" th:replace="views/fragments/sidepanel :: nav"></nav>
    
            <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom ">
                <nav lang="en" th:replace="views/fragments/header :: nav"></nav>
            </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-7">
                <h2 class="text-info"><i class="fa fa-barcode"></i> Sales Order Preview</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Sales</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#"> Sales Order List </a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Sales Order Preview </strong>
                    </li>
                </ol>
            </div>
            <div lang="en" th:replace="views/fragments/ipaddress :: div"></div>
        </div>
        <div class="wrapper wrapper-content">

            <div class="row">
                <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title mastro-ibox-title ">
                        <div class="ibox-tools">
                            
                        </div>
                    </div>
                    <div class="ibox-content mastro-ibox-content">
                    <span th:if="${salesOrderDetails.status== 'Draft'}">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                        <input type="text" id="reason" class="form-control" placeholder="Approval / Rejection Remarks" />
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <p class="text-left">
                                    <button class="btn btn-primary dim soApproved"
                                            th:data-soids="${salesOrderDetails.id}">Approve</button>

                                        <button class="btn btn-warning dim soReview"
                                                th:data-soids="${salesOrderDetails.id}">Review</button>
                             <button class="btn btn-danger dim soDiscard"
                                            th:data-soids="${salesOrderDetails.id}">Discard</button>

                                </p>
                            </div>
                        </div></span>
                        <span th:if="${salesOrderDetails.status== 'Approve'}">
                        <div class="ibox-title  ">
                             <div class="ibox-tools">
                                <div class="btn-group">
                                    <button class="btn btn-primary ">
                                        <i class="fa fa-print "></i></button>

                                </div>
                            </div>
                        </div>
                        </span>
                        <div class="ibox-content p-xl">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5>From:</h5>
                                    <span th:if="${partysDetails!= null}">

                                          <p> <strong th:text="${partyContactDetails.contactPersonName}">Mastro Metals Pvt Ltd.</strong><br>
                                           <span  th:text="${partyContactDetails.address}"></span><br>
                                            <span  th:text="${partyContactDetails.mobileNo}"></span><br>
                                           <span  th:text="${partyContactDetails.emailId}"></span>
                                        </p>

                                </span>

                                </div>
    
                                <div class="col-sm-6 text-right">
                                    <h4>Sales Oder No.</h4>
                                    <h4 class="text-navy" th:text="${salesDetails.salesOrderNo}"></h4>
                                    <span>To:</span>
                                    <span th:if="${partysDetails!= null}">
                                   <p> <strong th:text="${partyBillingDetails.contactPersonName}">Mastro Metals Pvt Ltd.</strong><br>
                                             <span  th:text="${partyBillingDetails.street}"></span><br>
                                          <span  th:text="${partyBillingDetails.city}"></span>,
                                            <span  th:text="${partyBillingDetails.state}"></span>,
                                             <span  th:text="${partyBillingDetails.country}"></span><br>
                                             <span  th:text="${partyBillingDetails.pinCode}"></span><br>
                                               <span  th:text="${partyBillingDetails.telephoneNo}"></span><br>
                                               <span  th:text="${partyBillingDetails.emailId}"></span><br>
                                        </p>
                                    </span>
                                </div>


                            </div>
    
                            <div class="table-responsive m-t">
                                <table class="table invoice-table">
                                    <thead>
                                    <tr class="text-info">
                                        <th> <strong>No</strong></th>
                                        <th><strong>HSN / SAC</strong></th>
                                        <th><strong>Item</strong></th>
                                        <!--<th>GST</th>-->
                                        <th><strong>Quantity</strong></th>
                                        <!--<th>Unit Rate</th>-->
                                        <th><strong>Taxable Value</strong></th>
                                        <th><strong>CGST</strong></th>
                                        <th><strong>SGST</strong></th>
                                        <th><strong>Net Price</strong></th>
                                        <th><strong>Total</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="salesoderPreview,iterator:${salesDetails.salesOrderProductSet}">
                                        <td th:text="${iterator.index+1}">1</td>
                                        <td th:text="${salesoderPreview.product.hsn.hsnCode}">HSN-0265</td>
                                        <td th:text="${salesoderPreview.product.productName}">Angles 25x6 (1x1/4)</td>
                                       <!-- <td th:text="${salesoderPreview.product.hsn.igst}">18</td>-->
                                        <td><span th:text="${salesoderPreview.quantity}">26.00</span> <span
                                                th:text="${salesoderPreview.product.uom.UOM}"></span></td>
                                        <td th:text="${salesoderPreview.finalTaxableValue}">711.8580</td>
                                        <td th:text="${salesoderPreview.cgstAmount}"></td>
                                        <td th:text="${salesoderPreview.sgstAmount}"></td>
                                        <td th:text="${salesoderPreview.netPrice}"></td>
                                        <td th:text="${salesoderPreview.totalPrice}">839.9924</td>

                                    </tr>

                                    <tr  th:if="${salesDetails!= null}">
                                        <td></td>
                                        <td><span th:text="${hsnDetails}">7314</span></td>
                                        <td>Loading Charges@<span th:text="${igstAmt}"></span> %(Sales)</td>
                                        <td></td>
                                        <td></td>
                                        <td> <span th:text="${totalTaxableValue}">4.0000</span></td>
                                        <td><span th:text="${cgstAmt}">0.3600</span></td>
                                        <td><span th:text="${sgstAmt}">0.3600</span></td>
                                        <td><span th:text="${loadingCharge}">0.7200</span></td>

                                    </tr>


                                    <tr th:if="${salesDetails!= null}">
                                        <td></td>
                                        <td></td>
                                        <td>Kerala Flood Cess</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td> <span th:text="${totalCess}">7.1586</span></td>


                                    </tr>



                                    </tbody>
                                </table>
                            </div>
    
                            <table class="table invoice-total">
                                <tbody>
                                <tr>

                                    <td><strong>Sub Total :</strong></td>
                                    <td>    <span th:text="${subTotal}">1261.98</span></td>
                                </tr>

                                <tr>

                                    <td><strong> Total :</strong></td>
                                    <td>    <span th:text="${finalTotal}">1261.98</span></td>
                                </tr>
                                <tr>

                                    <td><strong>Round Off :</strong></td>
                                    <td>  <span th:text="${roundOff}">1261.98</span></td>
                                </tr>
                                <tr class="priceColor">
                                    <td><strong>Grand TOTAL :</strong></td>
                                    <td>    <span th:text="${grandTotal}">1261.98</span></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
            </div>


        </div>


        <div class="footer ">
            <div class="float-right">
                Designed and Developed By <strong>Halo Technology Solutions</strong> 
            </div>
            <div>
                <strong>Copyright</strong> Mastro Metals &copy; 2020
            </div>
        </div>

        </div>
      
    </div>
    <div lang="en" th:replace="views/fragments/switchBranch :: div"></div>
    <!-- Mainly scripts -->
    <script src="../resources/js/jquery-3.1.1.min.js" th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
    <script src="../resources/js/popper.min.js" th:src="@{/resources/js/popper.min.js}"></script>
    <script src="../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
    <script src="../resources/js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script src="../resources/js/plugins/slimscroll/jquery.slimscroll.min.js" th:src="@{/resources/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

    <!-- Custom and plugin javascript -->
    <script src="../resources/js/inspinia.js" th:src="@{/resources/js/inspinia.js}"></script>
    <script src="../resources/js/plugins/pace/pace.min.js" th:src="@{/resources/js/plugins/pace/pace.min.js}"></script>
 <!-- Sweet alert -->
 <script src="../resources/js/plugins/sweetalert/sweetalert.min.js" th:src="@{/resources/js/plugins/sweetalert/sweetalert.min.js}"></script>
    <!-- jQuery UI -->
    <script src="../resources/js/plugins/jquery-ui/jquery-ui.min.js" th:src="@{/resources/js/plugins/jquery-ui/jquery-ui.min.js}"></script>



    <script>
        $(document).ready(function(){
            $('.soApproved').click(function(){
            var reason=document.getElementById("reason").value;
            var soids=$(this).data('soids');
            swal({
                title: "Approved!",
                text: "You want to Approved Sales Order!",
                type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#0094db",
            confirmButtonText: "Yes, Approve it!",
            closeOnConfirm: false
                 },
                 function () {
                 	$.ajax({
                   url: '/sales/soApprove',
                   type: 'POST',
                   dataType : 'json',
                   data: { 'reason': reason,'soids':soids },

                   success: function(data){
                            if(data.success) {

                                var redirectionUrl= "/sales/getSalesOrder";
                                window.location.href = redirectionUrl;
                                             }

                                        },

               error: function(jqXHR, textStatus)
                {
                alert('Error Occured');
                 }
                    });
            });
        });

  $('.soDiscard').click(function(){
            var reason=document.getElementById("reason").value;
            var soids=$(this).data('soids');
            swal({
                title: "Discard!",
                text: "You want to Discard Sales Order!",
                type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#0094db",
            confirmButtonText: "Yes, Discard it!",
            closeOnConfirm: false
                 },
                 function () {

                 	$.ajax({
                   url: '/sales/soDiscard',
                   type: 'POST',
                   dataType : 'json',
                   data: { 'reason': reason,'soids':soids },

                   success: function(data){
                            if(data.success) {

                                var redirectionUrl= "/sales/getSalesOrder";
                                window.location.href = redirectionUrl;
                                             }

                                        },

               error: function(jqXHR, textStatus)
                {
                alert('Error Occured');
                 }
                    });
            });
        });


        $('.soReview').click(function(){
            var reason=document.getElementById("reason").value;
            var soids=$(this).data('soids');
            swal({
                title: "Review?",
                text: " Do you want to Review Sales Order!",
                type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#0094db",
            confirmButtonText: "Yes, Review it!",
            closeOnConfirm: false
                 },
                 function () {

                 	$.ajax({
                   url: '/sales/soReview',
                   type: 'POST',
                   dataType : 'json',
                   data: { 'reason': reason,'soids':soids },

                   success: function(data){
                            if(data.success) {

                                var redirectionUrl= "/sales/getSalesOrder";
                                window.location.href = redirectionUrl;
                                             }

                                        },

               error: function(jqXHR, textStatus)
                {
                alert('Error Occured');
                 }
                    });
            });
        });




        });

</script>

</body>
</html>
